NEXT_PUBLIC_SUPABASE_URL=https://rtwzzerhgieyxsijemsd.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ0d3p6ZXJoZ2lleXhzaWplbXNkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjA1MDAyOTgsImV4cCI6MjA3NjA3NjI5OH0.modgHtr0QcRd6TTm0-R4eqwynb_jvGYpz-pBmvO6OmA